#page-point-detail header {
    margin: 15px 150px 10px 150px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#page-point-detail header a {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;
  
    display: flex;
    align-items: center;
}
  
#page-point-detail header a svg {
    margin-right: 16px;
    color: var(--primary-color);
}

.page-detail {
    display: flex;
}

.details-map-image {
    margin: 10px;
    background: #ffffff;
    width: 600px;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: -10px 10px 5px gray;
    border-radius: 8px;
}

.details-map-image img {
    width: 40vw;
    height: 50vh;
    margin-bottom: 15px;
}

.details-map-image .map {
    width: 40vw;
    height: 50vh;
}

.page-detail-description {
    margin: 10px;
    background: #ffffff;
    width: 600px;
    height: 55vh;
    align-self: center;
    padding: 20px;
    box-shadow: -10px 10px 5px gray;
    border-radius: 8px;
}

.page-detail-description h1 {
    text-align: center;
}

.page-detail-description p {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
}

.page-detail-description span.email {
    color: red;
    font-size: 1em;
    font-weight: bold;
    margin-right: 5px;
}

.page-detail-description span.whatsapp {
    color: green;
    font-size: 1em;
    font-weight: bold;
    margin-right: 5px;
}

.page-detail-description h2 {
    margin-top: 20px;
}